{{#with petition[0]}}
	<section class="chapter" id="petition">
		<div id="appHeader">
			<img id="headerImage" src="@@assetPath@@/imgs/header.png" />
		</div>
		<div class="wrapper">
			
			<div class="chapterContent">
				<h1 class="">{{headline}}</h1>
				<div id="infoForm">
					<div id="standfirst" class="m-col-large l-col-medium">
						{{#each text}}
						<p>{{{this}}}</p>
						{{/each}}
						<p id="petitionDisclaimer">{{note}}</p>
						<shareContainer media="['facebook','twitter','mail']"/>
					</div>
					
					<div id="petitionForm">
						<div id="formContainer">
							<iframe src="http://interactive.guim.co.uk/embed/2015/03/climate-embeds/campaign-form/350-guardian-form.html" width="100%" frameborder="none" scrolling="no"></iframe>
						</div>
					</div>
					<div id="petitionMeta">
						<p id="illustrationCredit">ANILINE DYE, 1996-2003, by Antony Gormley</p>
					</div>
				</div>
			</div>
		</div>
	</section>
{{/with}}