{{#with petition[0]}}
	<section class="chapter" id="petition">
		<div class="wrapper">
			<h1 class="indent">KEEP IT IN THE GROUND</h1>
			<h2 class="indent">{{headline}}</h2>
			<div id="infoForm" class="indent">
				<div id="standfirst" class="m-col-large l-col-large">
					<p>{{text}}</p>
					<p id="petitionDisclaimer">{{note}}</p>
					<shareContainer media="['facebook','twitter','mail']"/>
				</div>
				
				<div id="petitionForm">
					<div id="formContainer"></div>
				</div>
				<div id="petitionMeta">
					<p id="illustrationCredit">ANILINE DYE, 1996-2003, by Antony Gormley</p>
				</div>
			</div>
		</div>
	</section>
{{/with}}