{{#with petition[0]}}
	<section class="chapter" id="petition">
		<div class="wrapper">
			<div class="m-col-4">
				<h1 class="l-col-5">KEEP IT IN THE GROUND</h1>
				<h2 class="l-col-5">{{headline}}</h2>
				<p id="standfirst" class="l-col-5">{{text}}”</p>
				<div id="petitionForm" class="l-col-5">
					<div id="formContainer"></div>
					<p id="petitionDisclaimer">{{note}}</p>
				</div>
				<div id="petitionMeta" class="l-col-7">
					<p id="illustrationCredit" class="s-col-2">ANILINE DYE, 1996-2003, by Antony Gormley</p>
					<div id="shareContainer" class="s-col-3"><shareContainer media='["facebook","twitter","mail"]' message="sharing the whole page" /></div>
				</div>
			</div>
		</div>
	</section>
{{/with}}