/**
 * Project: Project name 
 * File:    Main SCSS
 */


@import 'modules/grid';
@import 'modules/article';
@import 'modules/fonts';
@import 'modules/furniture';
@import 'modules/share';
body{
	
}
.guInteractive {
	color:#333;
	font-family:"Guardian Egyptian Web", Arial;
	-webkit-font-smoothing:antialiased;
	*{
		box-sizing:border-box;
	}
	#appHeader{
		overflow:hidden;
	}
	#headerImage{
		width:100%;
	}
	#appHeadline{
		margin-top:0;
		margin-bottom:20px;
		font-size:38px;
		font-weight:100;
		padding-bottom:0;
	}
	#chapters{
		padding-bottom:40px;
	}
	.chapter{
		// padding-top:30px;
		position: relative;
		// padding-bottom:30px;
	}
	.wrapper{
		padding:0 0 30px;
		background:#fff;
	}

	.chapterHeading{
		padding-top:10px;
		font-size:24px;
		margin-top:0;
		margin-bottom:1em;
		color:#333;
		font-weight:500;
		line-height: 1.1em;
	}
	.chapterContent{
		position: relative;
	}
	p{
		line-height:1.3em;
	}

	.externalLink{
		color:#005689;
		font-weight:500;
		text-decoration: none;
		padding-left:50px;
		position: relative;
		min-height:40px;
		display:inline-block;
		vertical-align: middle;
		margin:20px 0;
		&:before{	
			width:40px;
			height:40px;
			background-color:#005689;
			background-image:url(@@assetPath@@/imgs/arrow.svg);
			background-repeat:no-repeat;
			background-position:center;
			background-size:50%;
			border-radius:20px;
			display:block;
			content:'';
			position: absolute;
			left:0;
			top:-10px;
		}
		&:hover{
			text-decoration: underline;
			color:#00456E;
			&:before{
				background-color:#00456E;
			}
		}
	}


	#petition{
		background-size:cover;
		background-position:center;
		position: relative;
		height:auto;
		.chapterHeading{
			color:#D8A265;
			margin-bottom:0;
		}
		#infoForm{
			position: relative;
		}
		#standfirst{
			font-weight:400;
			line-height:1.3em;
			font-size:16px;
			position: relative;
			p:first-child{
				margin-top:0.4em;
			}
		}
		#formContainer{
			width:100%;
		}
		#petitionDisclaimer{
			font-size:12px;
			font-family:'Guardian Text Sans Web';
			line-height:1.2em;
			opacity:0.8;
			margin-top:5px;
			margin-bottom:20px;
		}
		#petitionMeta{
			font-size:12px;
			font-family:'Guardian Text Sans Web';
			line-height:1.3em;
			margin-top:40px;
			#illustrationCredit{
				float:left;
				padding-right:20px;
				margin:0;
			}
			#shareContainer{
				height:40px;
				float:left;
				.shareButtons{
					text-align: right;
				}
			}
			&:after{
				clear:both;
				content:'';
				display: block;
			}
		}
		.wrapper{
			z-index:5;
			position: relative;
			border:none;
		}
	}

	#note{
		background:#D8A265;
		color:#fff;
		.wrapper{
			background:transparent;
			border:none;
		}
		#noteContents{
			p{
				font-size:16px;
			}
		}
		.chapterHeading{
			color:#fff;
		}
	}
	#pictureAlan{
		display:none;
	}
	#faq{
		#allFaqQuestions{
			display:none;
			border-top:1px solid #dfdfdf;
			margin-top:40px;
			padding-top:10px;
		}
	}
	#explainer{
		#explainerVideoContainer{
		}
		#videoHolder{
			width:100%;
			height:0;
			padding-bottom:56.25%;
			position: relative;
			iframe{
				position: absolute;
				left:0;
				top:0;
			}
		}
		
	}

	#quoteContainer{
		position: relative;
		quote{
			font-size:24px;
			line-height:1.2em;
			display:inline-block;
			position: relative;
			margin: 0 0 0 10px;
			font-weight:100;
			&:before{
				content:'\0022';
				position: absolute;
				left:-10px;
			}
		}
		#quoteShare{
			margin-left:10px;
			.shareButtons{
				margin:20px 0;
			}
		}
	}
	.quoteCredit{
		margin:0 0 10px 10px;
		padding-top:10px;
		font-size:18px;
		font-weight:bold;
	}

	#action{
		.actionContainer{
			height:auto;
			width:100%;
			padding: 1px 0 40px;
		}
		.actionContents{
			border-top:1px solid #eee;
			margin: 40px 0 0;
			padding-top:10px;
			h4{
				color:#fff;
				margin-top:0;
				font-size:28px;
			}
			.actionSubtitle{
				color:#fff;
				font-family:'Guardian Text Sans Web';
				text-transform: uppercase;
				font-size:14px;
				display: inline-block;
				margin-bottom:10px;
			}
			.actionParagraph{
				color:#fff;
			}
			button.readmore{
				background:transparent;
				border:1px solid #eee;
				height:34px;
				padding:0 15px;
				font-family:'Guardian Text Sans Web';
				border-radius:17px;
				color:#eee;
				font-size:14px;
				font-weight:bold;
				outline:none;
			}
			.shareButtons{
				display:inline-block;
			}
			.actionNote{
				color:#fff;
				font-size:24px;
				border-top:1px solid;
				margin-top:40px;
				font-weight:100;
				padding-top:20px;
				p{
					margin:0;
				}
			}
		}
	}
	#updates{
		#updateExternal{
			margin-bottom:40px;
		}
		.moreInfo{
			font-family:'Guardian Text Sans Web';
			color:#767676;
			line-height:1.3em;
			font-size:14px;
		}
		ul{
			padding-left:15px;
		}
		li.moreInfo{
			margin-bottom:10px;
		}
	}
	#ticker{
		width:100%;
		height:400px;
		position: relative;
		iframe{
			position:absolute;
		}
	}
	footer{
		.wrapper{
			background:transparent;
			border:none;
		}
	}

}





@media(min-width:480px){
	.guInteractive{
		#petition #standfirst{
			font-size:20px;
		}
		#appHeadline{
			font-size:56px;
		}
	}
}
@media(min-width:660px){
	.guInteractive{
		.wrapper{
			padding:0 20px 30px;
		}
	}
	}



@media(min-width:740px){
	.guInteractive{
		.wrapper{
			padding:0 20px 30px;
		}
		.chapterHeading{
			font-size:28px;
		}
		.externalLink{
			position: absolute;
			top:0;
			right:0;
			width:220px;
			margin-top:10px;
		}
		#appHeadline{
			font-size:74px;
		}
		#petition{
			h2{
				// font-size:54px;
			}
			#standfirst{
				line-height:1.5em;
			}
		}
		#petitionForm{
			position: absolute;
			top:0;
			right:0;
			width:220px;
		}
		#pictureAlan{
			display: block;
			position: absolute;
			right:0;
			bottom:0;
			width:240px;
		}
		#quoteContainer{
				margin:0;
			quote{
				margin:0;
				font-size:34px;
			}
			.quoteCredit{
				margin:0;
			}
			#quoteShare{
				margin:0;
			}
			&:after{
				clear:both;
				display: block;
				content:'';
			}
		}
		#faqContainer{
			#faqQuestions:after{
				content:'';
				clear:both;
				display:block;
			}
			.chapterHeading{
				border:none;
			}
			#flaggedQuestion{
				h2{
					margin-top:0;
				}
			}
			#allFaqQuestions{
				display:block;
				column-count:2;
			}
			.faqQuestion{
				color:#D8A265;
				font-weight:500;
				cursor:pointer;
				margin:0 0 10px;
				span{
					padding:5px;
					display:inline-block;
				}
				&:hover{
					span{
						text-decoration: underline;
						color:#00456E;
					}
				}
				&.flagged{
					cursor:default;
					span{
						background:#eee;
					}
					&:hover{
						span{
							color:#005689;
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}




@media(min-width:980px){
.guInteractive{
	.chapterHeading{
		padding-top:20px;
		margin-bottom:30px;
	}
	#petition{
		#standfirst{
			font-size:20px;
			padding-right:380px;
		}
	}
	#petitionForm{
		width:360px;
	}
	.chapterHeading{
		font-size:34px;
	}
	#note #noteContents p{
		font-size:18px;
	}
	#action{
		padding-bottom:0;
		.actionContents{
			border:none;
			h4{
				font-size:38px;
				margin-bottom:0.5em;
			}
		}
	}
	.actionLine{
		border-top:1px solid #fff;
		padding-bottom:16px;
	}
	#quoteContainer{
		quote{
			font-size:48px;
		}
	}
	#flaggedQuestion p{
		font-size:18px;
		line-height:1.3em;
	}
}
}

@media(min-width:1140px){
	.guInteractive{
		.chapterHeading{
			width:140px;
			position: absolute;
			padding:0;
			left:20px;
			top:15px;
			font-size:24px;
			line-height:1.2em;
		}
		.chapterContent{
			padding-left:160px;
			padding-top:15px;
		}
		.externalLink{
			top:15px;
		}
		#appHeadline{
			padding-left:180px;
		}
		#petition #standfirst{
			padding-right:440px;
		}
		#petitionForm{
			width:400px;
		}
		#petition #standfirst,.paragraphs{
			p:first-child{
				margin-top:0;
			}
		}
		#pictureAlan{
			width:220px;
			left:0;
		}
		#quoteContainer{
			quote{
				&:before{
					left:-20px;
				}
			}
		}
	}
}

@media(min-width:1300px){
	.guInteractive{
		#appHeadline{
			padding-left:260px;
		}
		.chapterHeading{
			width:220px;
			font-size:28px;
		}
		.chapterContent{
			padding-left:240px;
			padding-top:15px;
		}
		#quoteContainer{
			quote{
				font-size:48px;
				font-weight:100;
				padding-top:5px;

			}
		}
		
		#pictureAlan{
			width:240px;
		}
	}
}
